---
 const personalImageAlt = "Luciano Arossa"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Luciano, un apasionado y comprometido profesional de la informática especializado en <strong>ciberseguridad</strong>.
    </p>

    <p>
      Me motiva resolver problemas complejos y garantizar que los sistemas digitales
      sean resilientes ante las amenazas cibernéticas. Mi dedicación a la ciberseguridad surge
      de una firme convicción en la de <strong>proteger la información y preservar la 
      integridad digital</strong> en un mundo cada vez más conectado.
    </p>

    <p>
      Si te interesa hablar sobre <strong>ciberseguridad</strong>, colaborar en un 
      proyecto o intercambiar ideas, no dudes en contactarme. ¡Siempre estoy abierto a nuevos desafíos y oportunidades!

      <strong>Construyamos juntos un mundo digital más seguro.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/luciano.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>